.playfair {
    font-family: 'Playfair Display', 'Times New Roman', Times, serif;
}
.overlay {
    display: block;
    position: fixed;
    top: 4rem;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: opacity 0.3s ease;
    transition-delay: 250ms;
    opacity: 0;
}
.gm-style-iw {
    color: #0c0a09; /* Darker text color */
    font-weight: bold; /* Makes it stand out */
}
input[type='range'] {
    accent-color: #fb923c;
}
input[type='checkbox'] {
    appearance: none; /* Remove default checkbox styling */
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid #fb923c;
    cursor: pointer;
    transition: all 0.2s;
}

input[type='checkbox']:checked {
    background-color: #fb923c; /* Change background color when checked */
}
input[type='number'] {
    background-color: transparent;
    color: #fb923c;
    border: 1px solid #fb923c;
    padding: 0.5rem;
    border-radius: 4px;
}
input[type='text'] {
    background-color: transparent;
    color: #fb923c;
    border: 1px solid #fb923c;
    padding: 0.5rem;
    border-radius: 4px;
}
.transition-locator-btn {
    transition: all 0.5s ease;
}
.transition-locator-btn-dark-orange {
    height: 0rem;
    width: 0rem;
}
.transition-locator-btn-orange {
    height: 12rem;
    width: 12rem;
}
.animate-overlay-open {
    opacity: 1;
    pointer-events: auto;
}
.animate-overlay-close {
    opacity: 0;
    pointer-events: none;
}
.error {
    transition: all 0.25s ease;
    opacity: 0;
}
.animate-error-in {
    opacity: 1;
}
.animate-error-out {
    opacity: 0;
}
.mobile-menu {
    display: block;
    position: fixed;
    top: 4rem;
    right: 0;
    width: 18rem;
    height: 100vh;
    z-index: 3;
    transition: all 0.3s ease;
    transition-delay: 250ms;
    transform: translateX(100%);
}
.animate-mobile-menu-open {
    transform: translateX(0%);
}
.animate-mobile-menu-close {
    transform: translateX(100%);
}
.fade-in-animation {
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInDrop 0.5s forwards; /* Duration and forwards to keep final state */
}

@keyframes fadeInDrop {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    padding: 15px 15px;
    display: inline-block;
    cursor: pointer;
    transition-property: opacity, filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 0;
    margin: 0;
    overflow: visible;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
    background-color: #fb923c;
}

.hamburger-box {
    width: 40px;
    height: 24px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 40px;
    height: 4px;
    background-color: #fb923c;
    border-radius: 4px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
    content: '';
    display: block;
}
.hamburger-inner::before {
    top: -10px;
}
.hamburger-inner::after {
    bottom: -10px;
}

/*
     * Collapse
     */
.hamburger--collapse .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse .hamburger-inner::after {
    top: -20px;
    transition:
        top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        opacity 0.1s linear;
}
.hamburger--collapse .hamburger-inner::before {
    transition:
        top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(-45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition:
        top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        opacity 0.1s 0.22s linear;
}
.hamburger--collapse.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(-90deg);
    transition:
        top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}

/*
     * Collapse Reverse
     */
.hamburger--collapse-r .hamburger-inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger--collapse-r .hamburger-inner::after {
    top: -20px;
    transition:
        top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        opacity 0.1s linear;
}
.hamburger--collapse-r .hamburger-inner::before {
    transition:
        top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--collapse-r.is-active .hamburger-inner {
    transform: translate3d(0, -10px, 0) rotate(45deg);
    transition-delay: 0.22s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger--collapse-r.is-active .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition:
        top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        opacity 0.1s 0.22s linear;
}
.hamburger--collapse-r.is-active .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition:
        top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.container {
    --uib-size: 56;
    --uib-color: #fb923c;
    --uib-speed: 3.5s;
    --uib-stroke: 8;
    --uib-mult: calc(var(--uib-size) / var(--uib-stroke));
    --uib-stroke-px: calc(var(--uib-stroke) * 1px);
    --uib-size-px: calc(var(--uib-size) * 1px);
    position: relative;
    height: var(--uib-size-px);
    width: var(--uib-size-px);
}

.line {
    position: absolute;
    top: calc(50% - var(--uib-stroke-px) / 2);
    left: calc(50% - var(--uib-stroke-px) / 2);
    width: var(--uib-stroke-px);
    height: var(--uib-stroke-px);
    background-color: var(--uib-color);
    animation: center-line var(--uib-speed) ease infinite;
    transition: background-color 0.3s ease;
}

.container::before,
.container::after {
    content: '';
    position: absolute;
    width: var(--uib-stroke-px);
    height: var(--uib-stroke-px);
    background-color: var(--uib-color);
    animation: explore var(--uib-speed) ease infinite;
    transition: background-color 0.3s ease;
}

.container::after {
    animation-delay: calc(var(--uib-speed) * -0.5);
}

@keyframes center-line {
    0%,
    25%,
    50%,
    75%,
    100% {
        transform: scaleX(1) scaleY(1);
    }
    12.5%,
    62.5% {
        transform: scaleX(var(--uib-mult)) scaleY(1);
    }
    37.5%,
    87.5% {
        transform: scaleX(1) scaleY(var(--uib-mult));
    }
}

@keyframes explore {
    0%,
    100% {
        transform: scaleX(1) scaleY(1) translate(0%, 0%);
        transform-origin: top left;
        top: 0;
        left: 0;
    }

    12.5% {
        transform: scaleX(var(--uib-mult)) scaleY(1) translate(0%, 0%);
        transform-origin: top left;
        top: 0;
        left: 0;
    }

    12.50001% {
        transform: scaleX(var(--uib-mult)) scaleY(1) translate(0%, 0%);
        transform-origin: top right;
        top: 0;
        left: initial;
        right: 0;
    }

    25% {
        transform: scaleX(1) scaleY(1) translate(0%, 0%);
        transform-origin: top right;
        top: 0;
        left: initial;
        right: 0;
    }

    37.5% {
        transform: scaleX(1) scaleY(var(--uib-mult)) translate(0%, 0%);
        transform-origin: top right;
        top: 0;
        left: initial;
        right: 0;
    }

    37.5001% {
        transform: scaleX(1) scaleY(var(--uib-mult)) translate(0%, 0%);
        transform-origin: bottom right;
        top: initial;
        bottom: 0;
        left: initial;
        right: 0;
    }

    50% {
        transform: scaleX(1) scaleY(1) translate(0%, 0%);
        transform-origin: bottom right;
        top: initial;
        bottom: 0;
        left: initial;
        right: 0;
    }

    62.5% {
        transform: scaleX(var(--uib-mult)) scaleY(1) translate(0%, 0%);
        transform-origin: bottom right;
        top: initial;
        bottom: 0;
        left: initial;
        right: 0;
    }

    62.5001% {
        transform: scaleX(var(--uib-mult)) scaleY(1) translate(0%, 0%);
        transform-origin: bottom left;
        top: initial;
        bottom: 0;
        left: 0;
    }

    75% {
        transform: scaleX(1) scaleY(1) translate(0%, 0%);
        transform-origin: bottom left;
        top: initial;
        bottom: 0;
        left: 0;
    }

    87.5% {
        transform: scaleX(1) scaleY(var(--uib-mult)) translate(0%, 0%);
        transform-origin: bottom left;
        top: initial;
        bottom: 0;
        left: 0;
    }

    87.5001% {
        transform: scaleX(1) scaleY(var(--uib-mult)) translate(0%, 0%);
        transform-origin: top left;
        top: 0;
        left: 0;
    }
}
@keyframes expand-btn {
    0% {
        height: 0rem;
        width: 0rem;
    }
    100% {
        height: 12rem;
        width: 12rem;
    }
}
