
.sign-in-container {
    position: fixed;
    left:0;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    top: 4rem;
    width: 100vw;
    height: 100vh;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
